(name:"informatik",file:"lexicon.ron",target_file:"README.md",words:{'B':{"Book":"Paper surrounded by other stuff"},'F':{"Foreach":"Eine foreach-Schleife ist ein Weg in Java code für alle Elemente einer Sammlung (z.B. eins Arrays) auszuführen.\n\n```java\nint[] array = {1, 2, 3};\nfor (int x : array) {\n  // x nimmt die Werte 1, 2 und 3 nacheinander an\n  System.out.println(x);\n}\n// alle Zahlen in dem Array werden ausgegeben\n```"},'M':{"Matrix":"Two dimensional table of numbers."},'S':{"Sentence":"Multiple words followed by a period (.)."},'T':{"Test":"This description was updated.","test":"a test word"},'U':{"Update":"update"},'V':{"Variable":"Eine Variable","Vector":"One dimensional list of numbers."}})